:root {
  /* Light theme colors */
  --bg-color: hsl(0, 0%, 98%);
  --text-color: hsl(200, 15%, 8%);
  --elements: hsl(0, 0%, 100%);
}

.dark-theme {
  /* Dark theme colors */
  --bg-color: hsl(207, 26%, 17%);
  --text-color: hsl(0, 0%, 100%);
  --elements: hsl(209, 23%, 22%);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
}